# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# Node
node_modules/
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database/local files
*.sqlite3

# Secrets
*.pem
*.key